{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <div class="row mx-3">
        {% for listing in listings %}
            <div class="row mx-3" style="width: 18rem;">
                <img class="card-img-top" src="{{ listing.imageUrl }}" alt="{ listing.title}" width="288" height="310" style="margin-bottom: -10px;">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <p class="card-text">{{ listing.description }}</p>
                    <a href="{% url 'listing' id=listing.id %}" class="btn btn-dark">${{ listing.price}}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}